
{% block body %}
    {{ form_start(formcategorie) }}
        <div class="row">
            <div class="col">
                {{ form_row(formcategorie.name) }}             
            </div>          
        </div>
    {{ form_end(formcategorie) }}
{% endblock %}